@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
  font-family: Ubuntu;
  src: url(css\fonts\Ubuntu);
}
@font-face {
  font-family: DM Sans;
  src: url(css\fonts\DM_Sans);
}

/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
    padding: 0;
    margin: 0;
    border: 0;

  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /*Убираем линии обводки некоторых браузеров*/
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  /*задаем блочными теги Html5*/
  nav,
  header,
  aside {
    display: block;
    padding-top: 86px ;
  }
  
  html,
  body {
    font-family: "Poppins", sans-serif; 
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    background-color: #040f28;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

  }
  
  /*задаем наследование шрифтов*/
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
    color: #404242;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }

  .container {
    margin: 0 auto;
    max-width: 1440px;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
  }

  .navbar-list {
    display: flex;
  }

  .navbar-list a{
    margin-right: 72px; 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }
  .navbar-list a:last-child {
    margin-right: 0;
  }

  .navbar-list a:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  }

  .navbar-list a::after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #992dff;
    border-radius: 21px;
    opacity: 0;
  }
  .navbar-list a:hover::after{
    opacity: 1;
  }

  button {
    background: rgb(4, 15, 40);
    border: 2px solid #C4C4C4;
    border-radius: 87px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 16px 32px;
  }
  .section-1{
    background-image: url(../images/Group\ 1715.png) ;
    background-repeat: no-repeat;
    margin-bottom: 1px;
    background-position: center;
    /*width: 90%;*/
  }
  .section,
  .section-1
  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .section-6,
  .section-7,
  .section-8{
    max-width: 1440px;
    margin: 0 auto;
  }


  .block-in-section1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
  }

  .block-with-text{
    margin-right:128px ;
    margin-left: 141px;
    z-index: 1;
    width: 50%;
  }

  .block-with-image{
    margin-right: 12%;
    padding-left: 0px;
    z-index: 10000;
    width: 50%;
  }
.name1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 74px;
  text-transform: capitalize;
  color: #C4C4C4;
  margin-bottom: 20px;
}

.paragraph-in-block1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #646464;
  padding-bottom: 40px;

}
.get{
  border-radius: 87px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 16px 32px;
  background: #FC3867;
  border-radius: 87px;
  border: none;
}
.backgr{
  background-color: azure;
}

.text-in-block-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 85px;
}

.tib-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#t1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #070707;
  padding-bottom: 16px;
}

#tib-2_1{
  padding: 0 10% 0px 0;
}
#tib-2_2{
  padding: 0 9.5% 0px 9.5%;
}
#tib-2_3{
  padding-left: 10%;
  padding-right: 0;
}

#t2{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.005em;
  color: #070707;
  white-space: nowrap;
  padding-bottom: 8px;
}

#t3{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #C4C4C4;
}

.block-in-section-3{
  padding: 150px 0 108px 0;

}
.header-in-bis3{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  padding-bottom: 58px;
  justify-content: space-around;
}

.left{
  display: flex;
  flex-direction: column;

  width: 33%;
}


#n1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

#n2{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.right{

  width: 31%;
}

#string_in_right{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
  

}

.tablet_ins3{
  display: flex;
  flex-direction: row;
}
#part1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text_ins3_1{
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 74px;
}
.pic1{
  padding-left: 120px;
}
.pic2{
  padding-left: 74px;
}

#tis_1_1{font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-bottom: 9px;
}

#tis_1_2{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
}

.header-s4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#head-1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  color: #FFFFFF;
  padding-bottom: 29px;
}

#head-2{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding-bottom: 71px;
}

#cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 126px;
}

.card{
  background-color: #FFFFFF;
  height: 267px;
  width: 580px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  margin: 20px 21px 20px 21px;
  padding: 15px;
}
.card:hover {
  box-shadow: 15px 15px 15px -5px rgba(233, 229, 229, 0.5);
}
#icon1{
    padding-top: 7px;
    padding-left: 17px;
}

#text-in-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-left: 16px;
  width: 66%;
}

.head-txt-in-card{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 24px;
}

.just-text-in-card{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #272727;
}

.head-sec-5{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 56px;
}
#head-5-1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
  padding-bottom: 18px;
}

#head-5-2{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #999999;
  width: 29%;
}


#images-sec-5{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.kart{
  padding: 12px;
}
.kart:hover {
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transition-duration: .0,5s;
}

.block-ib-section-6{
  display: flex;
  flex-direction: column;
}

.header-s6{
  padding: 122px 0 70px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.price-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card-pr{
  background-color: #FFFFFF;
  width: 300px;
  height: 450px;
  border-radius: 12px;
  margin: 1px 20px 142px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  padding-top: 52px;
  padding-left: 28px;

}

#head-6_1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding-bottom: 16px;
}

#head-6_2{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}
#head-6_2{
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction:normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
   margin-left: 0%;
   width: 100%;
 }
}

.sp1-b{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;

}

.center-card{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

/*.head-card{
  padding: 0px 0 24px 0;
} */
.tarif{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding: 52px 0 24px;
  align-items: flex-start;
  padding-bottom: 24px;
 
}

.price{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  color: #000000;
  padding: 21px 0 24px 0; 
}

.monthpr{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.sp1,
.sp2,
.sp3,
.sp4,
.sp5{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272727;
  padding-bottom: 16px;
}

.right-pin{
  padding-right: 9px;
}

.btn_deact{
  background: none;
  border: 2px solid #000000;
  border-radius: 87px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  padding: 12px 45px;
  margin-top: 77px;
  margin-left: 35px;
}
.btn_deact:hover{
  background: #FC3867;
  border: none;
  color: #FFFFFF;
}

#btn_deact3{
  background: none;
  border: 2px solid #000000;
  border-radius: 87px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  padding: 12px 45px;
  margin-top: 13px;
  margin-left: 35px;
}
#btn_deact3:hover{
  background: #FC3867;
  border: none;
  color: #FFFFFF;
}

#btn_act{
  border-radius: 87px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 12px 45px;
  background: #FC3867;
  border: none;
  margin-top: 45px;
  margin-left: 35px;
}

.block-in-section-7{
  background-color: rgb(255, 255, 255);
}
.block-in-section-7{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

}

#head-s7{
  padding-top: 57px;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

#head-s7_1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  color: #212226;
  padding-bottom: 22px;
  width: 49%;
  text-align: center;
}


#last_act{
font-family: 'DM Sans';
line-height: 180%;
color: #FFFFFF;
border-radius: 87px;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
padding: 16px 40px;
background: #FC3867;
border: none;
margin-bottom: 44px;
}

/*.section-8{
  background-color: #272727;
}*/

.block-in-section-8{
  display: flex;
  justify-content: space-evenly;
  padding-top: 140px;
  padding-bottom: 140px;
  align-items: center;
  background-color: #272727;
}

#block-s8{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 30%;

}
#str-bl8{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 50px;
}

#str-b8-1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #646464;
  }

.block-footer{
  background-color: #000000;
  padding: 20px;
}

#info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#first{
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  width: 318px;

}


#pf{
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
padding-bottom: 19px;
}

#sf{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #C4C4C4;
  padding-bottom: 28px;
}

.img-footer{
  padding-bottom: 47px;
}
#second{
  display: flex;
  flex-direction: row;
}

#second-1,
#second-2,
#second-3,
#second-4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    align-items: flex-start;
    padding-top: 47px;
    padding-bottom: 81px;
   }
#second-1{
    padding-left: 133px;
    padding-right: 95px;
}
#second-2{
    padding-right: 99px;
} 
  #second-3{
  padding-right: 106px;
}
  
#head-f-s{
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
}

#strf{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #C4C4C4;
padding-top: 30px;
}
#strf:hover{
    height: 1px;
    display: block;
    background-color: #992dff;
    border-radius: 1px;
    opacity: 1;
}

#inf2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#line-ft{
  padding-bottom: 37px;
  width: 90%
}

#ending{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(196, 196, 196, 0.5);
  padding-bottom: 40px;

  }

  @media screen and (max-width: 1173px) and (min-width:1025px){
    #second-1 {
      padding-left: 61px;
      padding-right: 47px;
  }
  #second-2 {
    padding-right: 49px;
    }
    #second-3 {
      padding-right: 53px;
    }
    .pic1{
      padding-left: 40px;
    }
    .tablet_ins3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
  }
  .text_ins3_1 {
    padding-right: 40px;
}
  #tis_1_2 {
width: 175px;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
}
  }
  @media screen and (max-width: 1024px) and (min-width:975px) {
    .section-1{
      display: flex;
      justify-content: center;
    }
    .container{
      max-width: 1024px;
    }
    .block-in-section1 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .paragraph-in-block1 {
      padding-bottom: 20px;
    }
    .block-with-text{
      margin-left: 61px;
    }
    .block-with-image {
      z-index: 10000;
      width: 40%;
    }
    .man{
      width: 120%;
    }
    #tib-2_1 {
      padding: 0 69px 0px 0px;
  }
    #tib-2_2 {
      padding: 0 67px 0px 72px;
    }
    #tib-2_3 {
      padding: 0 0px 0px 50px;
  }
  .header-in-bis3 {
    justify-content: space-around;
}
.text_ins3_1 {
  padding-right: 37px;
}
  #tis_1_2 {
    width: 170px;
  }
  .pic1 {
    padding-left: 30px;
  }
  
  .tablet_ins3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
  .left {
    display: flex;
    flex-direction: column;
    width: 40%;
}
  #line-ft {
    padding-bottom: 37px;
    width: 90%;
  }
  #second-1 {
    padding-left: 66px;
    padding-right: 47px;
  }
  #second-2 {
   padding-right: 49px;
  }
  #second-3 {
  padding-right: 53px;
  }
  #strf {
    font-size: 12px;
  }
  }
  @media screen and (max-width: 974px) and (min-width: 842px){
    .tablet_ins3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
  }
  .block-with-text {
    margin-right: 128px;
    margin-left: 33px;
    z-index: 1;
    width: 50%;
}
  .block-with-image {
    margin-right: 0; 
    padding-left: 0px;
  }
  .man{
    width: 90%;
  }
  .pic2{
    padding-left: 30px;
  }
  .text_ins3_1 {
    padding-right: 24px;
  }
  #tis_1_1 {
    font-size: 18px;
  }
  .card-pr{
    padding: 52px 28px 16px;
  }
  .btn_deact{
  padding: 12px 30px;
  margin-top: 110px;
  margin-left: 25px;
  }
  #btn_act {
    padding: 12px 30px;
    margin-top: 65px;
    margin-left: 25px;
}
  #btn_deact3 {
    padding: 12px 30px;
    margin-top: 15px;
    margin-left: 25px;
}
.pic1{
  padding-left: 0;
}
  }
  @media screen and (max-width: 842px) and (min-width: 769px){
    .navbar-list a {
      margin-right: 46px;
    }
    .block-with-image {
      margin-right: 0;
      padding-left: 0px;
      z-index: 10000;
      width: 50%;
  }
  .man{
    width: 90%;
  }
  .block-with-text {
    margin-right: 128px;
    margin-left: 33px;
    z-index: 1;
    width: 50%;
  }
  .name1 {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 20px;
}
    .paragraph-in-block1 {
      padding-bottom: 30px;
  
}
#tib-2_1 {
  padding: 0 7% 0px 0;
}
#tib-2_3 {
  padding-left: 7%;
  padding-right: 0;
}
#n2 {
font-size: 34px;
}
    .tablet_ins3{
      padding: 0 20px;
    }
    .text_ins3_1 {
      padding-right: 28px;
  }
    .pic2{
      padding-left: 30px;
    }
    #tis_1_1 {
    font-size: 18px;
}
    #tis_1_2 {
    font-size: 14px;
  }
  .pic1 {
    padding-left: 10px;
}

.card-pr {
  padding: 52px 18px;
}
.btn_deact{
  padding: 12px 30px;
  margin-top: 110px;
  margin-left: 25px;
  }
  #btn_act {
    padding: 12px 30px;
    margin-top: 65px;
    margin-left: 25px;
}
  #btn_deact3 {
    padding: 12px 30px;
    margin-top: 15px;
    margin-left: 25px;
}
#second-1 {
  padding-left: 66px;
  padding-right: 47px;
}
#second-2 {
  padding-right: 49px;
}
#second-3 {
  padding-right: 53px;
}
  }
  @media screen and (max-width: 768px) and (min-width:671px){
    .container{
      max-width: 768px;
    }
    .navbar-list a {
      margin-right: 35px;
      font-size: 14px;
  }
  #nvb-btn{
    padding: 2px 16px;
    font-size: 12px;
  }
  .navbar-logo{
    display: flex;
    justify-content: center;
  }
    #logotip{
      width: 90%;
    }
    .navbar {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      min-height: 60px;
  }
  .block-in-section1 {
    padding-top: 30px;
}
.man {
    width: 90%;
  }
  .tablet_ins3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
    .block-with-image {
     margin-right: 0;
      }
  .block-with-text {
    margin-right: 64px;
    margin-left: 40px;
    z-index: 1;
    width: 50%;
}
.name1 {
  font-size: 46px;
  line-height: 50px;
}
  #t1 {
  font-size: 44px;
  line-height: 60px;
  padding-bottom: 8px;
  }
  #t2 {
    font-size: 14px;
    line-height: 18px;
}
#t3 {
  font-size: 12px;
  line-height: 16px;

}
  #tib-2_1 {
    padding: 0 7% 0px 0;
  }
  #tib-2_3 {
    padding-left: 7%;
    padding-right: 0;
  
}
  .text-in-block-2 {
    padding: 45px 0 40px 0;
  }
    #line_2s3{
      opacity: 0;
    }
  .header-in-bis3 {

    justify-content: space-evenly;
}
  .block-in-section-3 {
    padding: 75px 0 50px 0;
  }
  .left{
    padding-right: 0px;
    width: 40%;
  }
  #n2 {
    font-size: 32px;
    line-height: 40px;
}
  .right{
    width: 40%;
  }
  #string_in_right {
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
}
  #part1{
    width: 40%;
    margin-left: 20px;
    margin-bottom: 50px;
  }
  #tis_1_1 {
    font-size: 16px;
  }
  #tis_1_2{
    font-size: 14px;
  }
  .text_ins3_1{
    padding-right: 10px;
    padding-left: 15px;
  }
  .pic1,
  .pic2{
    padding-left: 0;;
  }
 #iconic1,
 #iconic2,
 #iconic3{
  width: 40px;
  }
  #head-5-2 {
    width: 80%;
}
  .price-cards{
    flex-direction: column;
  }
  .card-pr{
    padding: 24px 18px 0 18px;
  }

  .btn_deact,
  #btn_deact3,
  #btn_act {
    margin: 0px 16px;
    padding: 12px 20px;
    font-size: 14px;
  }
  .btn_deact {
    background: none;
    border: 2px solid #000000;
    border-radius: 87px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    padding: 12px 45px;
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 0;
}

  #btn_act{
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 0;
    padding: 12px 45px;
  }
  #btn_deact3{
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 0;
    padding: 12px 45px;
    margin-top: 65px;
  }
  .sp1,.sp2,.sp3,.sp4,.sp5{
    font-size: 12px;
  }
  #head-s7_1 {
    font-size: 34px;
}
#str-bl8 {
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 50px;
}
  .block-in-section-8{
    padding: 90px 40px;
  }
  #image-s8id{
  width: 300px;
  }
  #block-s8{
    width: 50%;
    padding-right: 25px;
  }
  #first{
    width: 230px;
    }
    #second-1, #second-2, #second-3, #second-4 {
      padding-bottom: 40px;
    }
  #second-1 {
    padding-left: 18px;
    padding-right: 23px;
  }
  #second-2{
      padding-right: 24px;
  }
  #second-3{
    padding-right: 26px;
  }

  #strf{
    font-size: 10px;
  }
  #head-f-s {
  font-size: 12px;
  }

  #info{
    padding:0px;
  }

  #sf{
    padding-bottom: 14px;
    font-size: 12px;
  }
  .img-footer{
    padding-bottom: 23px;
  }
  }
  @media screen and (max-width:670px) and (min-width:624px) {
    .container{
      max-width: 670px;
    }
    .navbar {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      min-height: 60px;
  }
  .navbar-list a {
    margin-right: 31px;
    }
    #nvb_btn{
      padding: 8px 12px;
      font-size: 14px;
    }
    .name1 {
      font-size: 44px;
      line-height: 50px;
      text-transform: capitalize;
      color: #C4C4C4;
      margin-bottom: 20px;
    }
    .block-with-text {
      margin-right: 77px;
      margin-left: 59px;
    }
    .block-with-image {
        padding-left: 0px;
        width: 50%;
        margin-right: 0;
  }
  .man{
    width: 90%;
  }
    #t1 {
    font-size: 54px;
    line-height: 60px;
    }
    #t2 {
      font-size: 16px;
      line-height: 20px;
  }
  #t3 {
    font-size: 14px;
    line-height: 18px;
}
    .text-in-block-2 {
      padding-top: 45px;
      padding-bottom: 41px;
    }
    #tib-2_1 {
      padding: 0 8% 0px 0;
    }
    #tib-2_2 {
      padding: 0 7% 0px 7%;
   }
   #tib-2_3 {
    padding-left: 8%;
    padding-right: 0;
  }
  .block-in-section-3 {
    padding: 75px 0 44px 0;
}
.tablet_ins3 {
  padding: 20px;
}
    .pic1{
      padding-left: 0;
    }
    .pic2{
      padding-left: 29px;
    }
    .text_ins3_1 {
      padding-left: 16px;
      padding-right: 28px;
  }
  #tis_1_1 {
    font-size: 16px;
}
  #tis_1_2 {
    font-size: 12px;
    line-height: 180%;
    color: #FFFFFF;
  }
  .price-cards {
    flex-wrap: wrap;
}
.card-pr {
  margin: 1px 20px 74px 20px;
}
#head-s7_1 {
  font-size: 32px;
  line-height: 64px;
  color: #212226;
  padding-bottom: 22px;
}
#str-bl8 {
  font-size: 32px;
  line-height: 42px;
}
.block-in-section-8 {
  padding: 70px 20px 70px 20px;
}
#block-s8 {
  width: 50%;
}
  #image-s8{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  #image-s8id{
    width: 90%;
  }
  #first{
    width: 230px;
    }
    #second-1, #second-2, #second-3, #second-4 {
      padding-bottom: 40px;
    }
  #second-1 {
    padding-left: 18px;
    padding-right: 23px;
  }
  #second-2{
      padding-right: 24px;
  }
  #second-3{
    padding-right: 26px;
  }

  #strf{
    font-size: 10px;
  }
  #head-f-s {
  font-size: 12px;
  }

  #info{
    padding:0px;
  }

  #sf{
    padding-bottom: 14px;
    font-size: 12px;
  }
  .img-footer{
    padding-bottom: 23px;
  }
  }
  @media screen and (max-width:623px) and (min-width:600px) {
    .container{
      max-width: 623px;
    }
    .navbar-list a {
      margin-right: 24px;
      font-size: 12px;
      line-height: 18px;
  }
    .block-with-text {
      margin-right: 64px;
      margin-left: 40px;
      z-index: 1;
      width: 50%;
  }
  .block-with-image {
    margin-right: 0;
    padding-left: 0px;
    width: 50%;
}
.man{
  width: 90%;
}
    #nvb_btn{
      padding: 10px 20px;
  }
  .name1 {
    font-size: 40px;
    line-height: 50px;
}
#t1 {
  font-size: 54px;
  line-height: 60px;
  }
  #t2 {
    font-size: 16px;
    line-height: 20px;
}
#t3 {
  font-size: 14px;
  line-height: 18px;
}
  .text-in-block-2 {
    padding-top: 45px;
    padding-bottom: 41px;
  }
  #tib-2_1 {
    padding: 0 6% 0px 0;
  }
  #tib-2_2 {
    padding: 0 5% 0px 5%;
 }
 #tib-2_3 {
  padding-left: 5%;
  padding-right: 0;
}
#tis_1_2 {
padding-bottom: 35px;
}
.tablet_ins3 {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block-in-section-3 {
  padding: 75px 0 60px 0;
}
#n2 {
  font-size: 32px;
  line-height: 40px;
}
#part1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.pic1{
    padding-left: 24px;
}
.pic2{
  padding-left: 24px;
}
#line_2s3{
  opacity: 0;
}
.text_ins3_1 {
  padding-right: 24px;
}
#images-sec-5 {
  width: 80%;
  margin-left: 30px;
}
.kart{
  width: 90%;
}
.card-pr {
  margin: 1px 20px 71px 20px;
}
.price-cards {
  flex-wrap: wrap;
}
#head-s7_1 {
  font-size: 32px;
  line-height: 40px;
  color: #212226;
  padding-bottom: 22px;
}
.block-in-section-8{
  padding: 90px 40px;
}
#str-bl8 {
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 50px;
}
 #block-s8{
  width: 50%;
 }
 #image-s8{
  width:50%;
  display: flex;
  justify-content: flex-end;
 }
 #image-s8id{
  width: 90%;
 }
 #first{
  width: 230px;
  }
  #second-1, #second-2, #second-3, #second-4 {
    padding-bottom: 40px;
  }
#second-1 {
  padding-left: 18px;
  padding-right: 23px;
}
#second-2{
    padding-right: 24px;
}
#second-3{
  padding-right: 26px;
}

#strf{
  font-size: 10px;
}
#head-f-s {
font-size: 12px;
}

#info{
  padding:0px;
}

#sf{
  padding-bottom: 14px;
  font-size: 12px;
}
.img-footer{
  padding-bottom: 23px;
}
  }
  @media screen and (max-width:599px) and (min-width:530px) {
    .container{
      max-width: 599px;
    }
    .navbar-logo{
      width: 20%;
    }
    #logotip{
      width: 90%;
    }
    .navbar-list a {
      margin-right: 18px;
  }
  #nvb-btn{
    padding:8px 12px;
  }
  .block-with-text {
    margin-right: 42px;
    margin-left: 34px;
    z-index: 1;
    width: 50%;
}
.name1 {
  font-size: 38px;
  line-height: 40px;

}
.block-with-image {
  margin-right: 0;
  padding-left: 0px;
  width: 50%;
}
.man{
  width: 90%;
}
.text-in-block-2 {
  padding: 45px 20px 40px 20px;
}
  
#tib-2_1{
  padding: 0 5% 0px 0;
}
#tib-2_2{
  padding: 0 6% 0px 6%;
}
#tib-2_3 {
  padding-left: 5%;
  padding-right: 0;
}
#t1 {
  font-size: 40px;
  line-height: 44px;
}
#t2 {
  font-size: 14px;
  line-height: 16px;
}
.block-in-section-3 {
  padding: 60px 0 40px 0;
}
.left {
  width: 35%;
}
#n2 {
  font-size: 28px;
  line-height: 40px;
}
#string_in_right {
  font-size: 16px;
  line-height: 18px;
}
.tablet_ins3 {
padding: 15px;
flex-wrap: wrap;
justify-content: center;
}
#part1{
  width: 70%;
  padding-bottom: 30px;
}
.text_ins3_1 {
  padding-left: 30px;
  padding-right: 0;
}
.pic1 {
  padding-left: 0;
}
.pic2{
  padding-left: 0;
}
.line2{
  opacity: 0;
}
.block-in-section-5{
display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#head-2 {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 71px;
}
#text-in-card {
  flex-direction: row;
  width: 66%;
}
.price-cards {
  flex-wrap: wrap;
}
#head-5-2 {
  width: 72%;
}
#head-s7_1 {
  font-size: 30px;
  line-height: 64px;
  color: #212226;
  padding-bottom: 22px;
  width: 80%;
}
.block-in-section-8 {
  padding: 60px 20px;
}
  
  #block-s8{
    width: 50%;
  }
  #image-s8{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  #image-s8id{
    width: 90%;
  }
  #str-bl8 {
    font-size: 28px;
    line-height: 38px;
}
#images-sec-5 {
  width: 80%;
  margin:0 10%;
}
.kart{
  width: 90%;
}
#head-f-s {
  font-size: 12px;
  line-height: 14px;
}
#strf {
  font-size: 10px;
}
#second-1, #second-2, #second-3, #second-4 {
  padding-top: 24px;
  padding-bottom: 35px;
}
#second-1 {
  padding-left: 33px;
  padding-right: 24px;
}
#second-2 {
  padding-right: 24px;
}
#second-3 {
  padding-right: 26px;
}
.img-footer {
  padding-bottom: 23px;
}
#first {
  padding-top: 25px;
}
#sf {
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 28px;
}
  }
  @media screen and (max-width: 529px) and (min-width:426px) {
    header{
      padding-top: 30px;
    }
    .container{
      max-width: 529px;
    }

    .navbar-logo{
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    #logotip{
      width: 90%;
    }
    .navbar-list a {
      margin-right: 18px;
      font-size: 10px;
  }
  #nvb-btn{
    padding:8px 12px;
  }

    .navbar-list{
      max-width: 40%;
      justify-content: center;
    }

    #nvb-btn{
      padding: 2px 16px;
      font-size: 12px;
    }
    .block-in-section1{
      padding: 15px;
    }
    .block-with-text{
      margin-right: 21px;
      margin-left: 12px;
      width: 50%;
    }
    .paragraph-in-block1 {
      padding-bottom: 15px;
      font-size: 12px;
      line-height: 18px;
  }
    .get {
      font-size: 12px;
      line-height: 16px;
      padding: 8px 16px;
  }
    .block-with-image{
      width: 50%;
      margin-right: 0;
    }
    .man{
      width: 90%;
    }

    .name1{
      font-size: 36px;
      line-height: 40px;
    }
    .text-in-block-2 {
      padding: 22px 0 20px 0;
  }
  .pic1{
    padding: 0;
  }
  .pic2{
    padding-left: 0px;
  }
  .text_ins3_1 {
    padding-right: 0px;
    display: flex;
}
    #t1{
      font-size: 35px;
      line-height: 38px;
    }
    #t2{
      font-size: 13px;
      max-width: 120px;
      line-height: 18px;
      padding-bottom: 1px;
    }

    #t3{
      font-size: 12px;
    }
    .tablet_ins3 {
      padding: 15px;
      flex-wrap: wrap;
      justify-content: center;
      }
    #tib-2_1, #tib-2_2, #tib-2_3 {
      padding: 0 14px;
      max-width: 30%;
  }
  #icon1{
    padding-left: 0;
  }
  #images-sec-5 {
    width: 80%;
    margin:0 10%;
  }
  .kart{
    width: 90%;
  }
  .price-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#head-s7_1 {
  font-size: 30px;
}
.block-in-section-8 {
  padding: 60px 20px;
}
  
  #block-s8{
    width: 50%;
  }
  #image-s8{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  #image-s8id{
    width: 90%;
  }
  #str-bl8 {
    font-size: 28px;
    line-height: 38px;
}
#str-b8-1 {
  font-size: 14px;
  line-height: 24px;
  color: #646464;
}
#head-f-s {
  font-size: 12px;
  line-height: 14px;
}
#strf {
  font-size: 10px;
}
#second-1, #second-2, #second-3, #second-4 {
  padding-top: 24px;
  padding-bottom: 35px;
}
#second-1 {
  padding-left: 33px;
  padding-right: 24px;
}
#second-2 {
  padding-right: 24px;
}
#second-3 {
  padding-right: 26px;
}
.img-footer {
  padding-bottom: 23px;
}
#first {
  padding-top: 25px;
}
#sf {
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 28px;
}
  .left{
    width: 50%;
    padding-left: 20px;
    padding-right: 25px;
  }
  #n2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;

}
  .right{
    width: 50%;
    padding-right: 20px;
  }
#string_in_right {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
  .line2{
    opacity: 0;
  }

  #part1 {
    width: 60%;
    margin-bottom: 30px;
}
.block-in-section-3 {
  padding: 75px 0 60px 0;
}
.block-in-section-4{
  padding: 15px;
}
#head-5-1 {
  font-size: 34px;
  line-height: 46px;
  padding-bottom: 18px;
}
#head-5-2 {
  width: 70%;
}
#head-1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}
#head-2 {
  font-weight: 400;
  font-size: 20px;
}
.head-txt-in-card {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 20px;
  text-align: center;
}
#text-in-card {
  flex-direction: row;
}
.just-text-in-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
  }
  @media screen and (max-width: 425px) and (min-width:375px) {
    header{
      padding-top: 30px;
    }
    .container{
      max-width: 425px;
    }

    .navbar-logo{
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    #logotip{
      width: 90%;
    }
    .navbar-list a {
      margin-right: 18px;
      font-size: 10px;
  }
  #nvb-btn{
    padding:8px 12px;
  }

    .navbar-list{
      max-width: 40%;
      justify-content: center;
    }

    #nvb-btn{
      padding: 2px 16px;
      font-size: 12px;
    }
    .block-in-section1{
      padding: 15px;
    }
    .block-with-text{
      margin-right: 21px;
      margin-left: 12px;
      width: 50%;
    }
    .paragraph-in-block1 {
      padding-bottom: 15px;
      font-size: 12px;
      line-height: 18px;
  }
    .get {
      font-size: 12px;
      line-height: 16px;
      padding: 8px 16px;
  }
    .block-with-image{
      width: 50%;
      margin-right: 0;
    }
    .man{
      width: 90%;
    }

    .name1{
      font-size: 36px;
      line-height: 40px;
    }
    
    .text-in-block-2 {
      padding: 22px 0 20px 0;
  }
  .pic1{
    padding: 0;
  }
  .pic2{
    padding-left: 0px;
  }
  .text_ins3_1 {
    padding-right: 0px;
    display: flex;
}
    #t1{
      font-size: 35px;
      line-height: 38px;
    }
    #t2{
      font-size: 12px;
      max-width: 120px;
      line-height: 18px;
      padding-bottom: 1px;
    }

    #t3{
      font-size: 11px;
    }
    #tib-2_1 {
      padding: 0 4% 0px 0;
  }
  #tib-2_2 {
    padding: 0 5%;
}
#tib-2_3 {
  padding-left: 4%;
  padding-right: 0;
}
    
    .tablet_ins3 {
      padding: 15px;
      flex-wrap: wrap;
      justify-content: center;
      }
    #tib-2_1, #tib-2_2, #tib-2_3 {
      padding: 0 14px;
      max-width: 30%;
  }
  #icon1{
    padding-left: 0;
  }
  .header-in-bis3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 58px;
    justify-content: space-around;
}
.left {
  display: flex;
  flex-direction: column;
  width: 70%

}
  #n1 {
    text-align: center;
  }
#n2 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
}
.right {
  width: 75%;
}
#string_in_right {
text-align: center;
}
.block-in-section-3 {
  padding: 60px 0 40px 0;
}
.line2{
  opacity: 0;
}
#part1{
  width: 80%;
  margin-bottom: 30px;
}
#head-5-1 {
  font-size: 34px;
  line-height: 46px;
  padding-bottom: 18px;
  text-align: center;
}
#head-5-2 {
  width: 70%;
}
  .kart{
    width: 90%;
  }
  .price-cards {
    flex-direction: column;
}
#text-in-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#head-s7_1 {
  font-size: 30px;
  width: 80%;
}
.block-in-section-8 {
  padding: 60px 20px;
}
 
  #block-s8{
    width: 80%;
    display: flex;
    align-items: center;
  }
  #image-s8{
    display: none;
  }
  #image-s8id{
    width: 90%;
  }
  
  #str-bl8 {
    font-size: 28px;
    line-height: 38px;
    text-align: center;
}
#str-b8-1 {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
#btn_act {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 30px;
  margin: 20px 0 0;
}


#head-f-s {
  font-size: 12px;
  line-height: 14px;
}
#strf {
  font-size: 10px;
}
#second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#second-1, #second-2, #second-3, #second-4 {
  padding-top: 24px;
  padding-bottom: 7px;
}
#second-1 {
  padding-left: 0px;
  padding-right: 24px;
}
#second-2 {
  padding-right: 0px;
}
#second-3 {
  padding-right: 39px;
}
#strf {
  font-size: 10px;
  padding-top: 15px;
}
  }
  @media screen and (max-width:374px) and (min-width:320px) {
    header{
      padding-top: 30px;
    }
    .container{
      max-width: 374px;
    }
    .navbar-logo{
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    #logotip{
      width: 90%;
    }
    .navbar-list a {
      margin-right: 14px;
      font-size: 8px;
  }
  #nvb-btn{
    padding:2px 12px;
    font-size: 10px;
  }
    .navbar-list{
      max-width: 35%;
      justify-content: center;
    }
    .block-in-section1{
      padding: 15px;
    }
    .block-with-text{
      margin-right: 21px;
      margin-left: 12px;
      width: 50%;
    }
    .paragraph-in-block1 {
      padding-bottom: 15px;
      font-size: 10px;
      line-height: 14px;
  }
    .get {
      font-size: 12px;
      line-height: 16px;
      padding: 8px 16px;
  }
    .block-with-image{
      width: 50%;
      margin-right: 0;
    }
    .man{
      width: 90%;
    }
    .name1{
      font-size: 26px;
      line-height: 36px;
    }
    .text-in-block-2 {
      padding: 22px 0 20px 0;
  }
  .pic1{
    padding: 0;
  }
  .pic2{
    padding-left: 0px;
  }
  .text_ins3_1 {
    padding-right: 0px;
    display: flex;
}
    #t1{
      font-size: 32px;
      line-height: 34px;
    }
    #t2{
      font-size: 10px;
      line-height: 18px;
      padding-bottom: 1px;
    }
    #t3{
      font-size: 8px;
    }
    #tib-2_1 {
      padding: 0 4% 0px 0;
  }
  #tib-2_2 {
    padding: 0 5%;
}
#tib-2_3 {
  padding-left: 4%;
  padding-right: 0;
}
.tablet_ins3 {
  padding: 15px;
  flex-wrap: wrap;
  justify-content: center;
  }
#tib-2_1, #tib-2_2, #tib-2_3 {
  padding: 0 14px;
  max-width: 30%;
}
#icon1{
padding-left: 0;
}
.header-in-bis3 {
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 58px;
justify-content: space-around;
}
.left {
display: flex;
flex-direction: column;
width: 70%

}
#n1 {
text-align: center;
}
#n2 {
font-size: 28px;
line-height: 34px;
letter-spacing: -0.5px;
text-transform: capitalize;
color: #FFFFFF;
text-align: center;
}
.right {
width: 75%;
}
#string_in_right {
text-align: center;
}
.block-in-section-3 {
padding: 60px 0 40px 0;
}
.line2{
opacity: 0;
}
#part1{
width: 80%;
margin-bottom: 30px;
}
#head-1 {
  font-size: 26px;
  line-height: 34px;
  padding-bottom: 29px;
  text-align: center;
}
#head-2 {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 30px;
  text-align: center;
}
#cards {
  padding-bottom: 40px;
}
.img-in-card{
  width: 20%;
}
#icon1{
  width: 80%;
}
#text-in-card {
  flex-direction: row;
  width: 75%;
}
.head-txt-in-card {
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 24px;
}
.just-text-in-card {
  font-size: 14px;
  line-height: 160%;
  color: #272727;
}
#head-5-1 {
  text-align: center;
}
#head-5-2 {
  width: 70%;
}
.kart{
  width: 80%;
}
#head-6_2 {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}
.price-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-s6 {
  padding: 40px 0 20px 0;
}
.card-pr {
  background-color: #FFFFFF;
  width: 90%;
  height: 450px;
  border-radius: 12px;
  margin: 1px 20px 30px 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  padding-top: 52px;
  padding-left: 28px;
}
#head-s7_1 {
  font-size: 28px;
  line-height: 30px;
  padding-bottom: 22px;
  width: 70%;
  text-align: center;
}
.block-in-section-8 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  background-color: #272727;
}
#block-s8{
  width: 80%;
  display: flex;
  align-items: center;
}
#image-s8{
  display: none;
}
#image-s8id{
  width: 90%;
}
#str-bl8 {
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
#str-b8-1 {
font-size: 14px;
line-height: 24px;
text-align: center;
}
#btn_act {
    margin-left: 34px;

}
.block-footer {
  background-color: #000000;
  padding: 10px;
}
#head-f-s {
  font-size: 10px;
  line-height: 14px;
}
#strf {
  font-size: 8px;
  padding-top: 7px;
}
#info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.img-footer{
    display: flex;
    justify-content: space-around;
}
#second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#second-1, #second-2, #second-3, #second-4 {
  padding-top: 24px;
  padding-bottom: 7px;
  padding-left: 11px;
}
#second-1 {
  padding-left: 0;
  padding-right: 2px;
}
#second-2 {
  padding-right: 0px;
}
#second-3 {
  padding-right: 0;
}

  }